.plate-container {
  width: 500px;
  height: 500px;
  border: 1px solid red;
  overflow: auto;
}

.plate-order-flex {
  display: flex;
  flex-direction: row;
}

.order-container {
  width: 300px;
  height: 200px;
  border: 1px solid red;
}

.ingredients-container {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  overflow: auto;
}

.workstation-container {
  width: 800px;
  height: 400px;
  border: 1px solid red;
}

.workstation-ingredients {
  width: 800px;
  height: 150px;
  overflow: auto;
}

.terminal-history {
  width: 800px;
  height: 125px;
  text-align: left;
  overflow: auto;
  border: 1px solid blue;
  cursor: text;
}

.terminal-input {
  width: 800px;
  height: 25px;
  box-sizing: border-box;
}
