/* GAME */

.flex-row {
  display: flex;
  flex-direction: row;
}

.instructions-order-container {
  /* border: 1px solid white; */
  width: 300px;
  text-align: left;
}

/* PLATE */

.plate-container {
  text-align: center;
}

.tray-background {
  position: relative;
  width: 800px;
  height: 300px;
  background-image: url(../assets/images/tray.png),
    url(../assets/images/restaurant_interior.png);
  background-size: 850px 100px, 800px 300px;
  background-repeat: no-repeat;
  background-position: center 200px, -20px center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20px;
}

.plate-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.plate-section img {
  margin-top: -50px; /* Controls the amount of overlap */
  z-index: 0;
}

/* INGREDIENTS */

.ingredients-container {
  width: 800px;
  height: 100px;
}

.ingredients-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  /* border: 1px solid purple; */
}

/* WORKSTATION */

.workstation-container {
  width: 800px;
  height: 460px;
  /* border: 1px solid greenyellow; */
  overflow: hidden;
}

.workstation-background {
  position: relative;
  width: 800px;
  height: 300px;
  background-image: url(../assets/images/countertop.png),
    url(../assets/images/kitchen_background.png);
  background-size: 850px 100px, 800px 300px;
  background-repeat: no-repeat;
  background-position: center 230px, -0px center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20px;
}

.workstation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 20px;
  height: 300px;
}

.workstation-section img {
  margin-top: -50px; /* Controls the amount of overlap */
  z-index: 0;
}

.workstation-section.selected {
  border: 3px solid #4caf50;
  border-radius: 10px;
  background-color: rgba(76, 175, 80, 0.1); /* Optional: subtle background */
  transition: 0.2s ease-in-out;
}

.workstation-plate {
  width: 250px;
  height: 50px;
  object-fit: fill;
}
/* TERMINAL */

.terminal-history {
  width: 800px;
  height: 75px;
  text-align: left;
  overflow: auto;
  /* border: 1px solid blue; */
  background-color: black;
  cursor: text;
}

.terminal-input {
  width: 800px;
  height: 25px;
  box-sizing: border-box;
}

/* ORDER */

.order-container {
  width: 300px;
  height: 200px; /* Fixed height */
  /* border: 1px solid red; */
}

.order-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-top: 50px;
}

.order-section img {
  margin-top: -50px; /* Controls the amount of overlap */
  z-index: 0;
}

/* LEVEL */

.level-header {
  display: flex;
  align-items: center;
  gap: 5px;
}
