@media (prefers-color-scheme: light) {
  .table th {
    background-color: aqua;
  }

  button {
    background-color: #f0f0f0;
  }

  button:hover {
    background-color: #e0e0e0;
  }

  pre {
    background-color: #f8f8f8;
    border: 1px;
  }

  svg text {
    fill: black;
  }
}

@media (prefers-color-scheme: dark) {
  svg text {
    fill: white;
  }
}
